<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Wine List</title>
</head>
<body>
    <h1>Wine List</h1>
    <ul>
      <% wineDocs.forEach(wine => { %>
          <li>
              <strong>Name:</strong> <%= wine.name %><br>
              <strong>Vintage:</strong> <%= wine.vintage %><br>
              <strong>Varietal:</strong> <%= wine.varietal %><br>
              <strong>Wine Type:</strong> <%= wine.wineType %><br>
              <strong>Country:</strong> <%= wine.country %><br>
              <strong>Quantity:</strong> <%= wine.quantity %><br>
              
              <form action="/wines/<%= wine._id %>?_method=DELETE" method="POST">
              
                  <button type="submit">Delete Wine</button>
              <a href="/wines/<%= wine._id %>/edit">Edit Wine</a>
              </form>
          </li>
      <% }); %>
  </ul>
    <a href="/wines/new">Add New Wine</a>
</body>
</html>
